@charset "UTF-8";
/* line 2, ../sass/_footer.scss */
footer {
  background: #323232;
  padding: 20px;
  color: #fff;
  font-weight: 100;
}
/* line 7, ../sass/_footer.scss */
footer h4 {
  font-weight: 100;
  font-size: 1.1em;
  margin-bottom: 1rem;
}
/* line 12, ../sass/_footer.scss */
footer a {
  color: #aaa;
  font-size: 0.8rem;
  line-height: 200%;
}
/* line 16, ../sass/_footer.scss */
footer a:visited, footer a:active {
  color: #aaa;
}
/* line 22, ../sass/_footer.scss */
footer .container > ul {
  display: flex;
  justify-content: space-between;
}
/* line 25, ../sass/_footer.scss */
footer .container > ul > li {
  display: inline-block;
  vertical-align: top;
}
/* line 28, ../sass/_footer.scss */
footer .container > ul > li h6 {
  color: #aaa;
  font-size: 0.8rem;
  line-height: 200%;
  font-weight: 100;
}
@media screen and (max-width: 566px) and (min-width: 300px) {
  /* line 22, ../sass/_footer.scss */
  footer .container > ul {
    display: block;
  }
  /* line 37, ../sass/_footer.scss */
  footer .container > ul > li {
    display: block;
    margin-bottom: 30px;
  }
}
/* line 44, ../sass/_footer.scss */
footer .container .footer-btn ul li {
  display: inline-block;
}
/* line 46, ../sass/_footer.scss */
footer .container .footer-btn ul li img {
  width: 30px;
  margin-right: 10px;
}

/* line 4, ../sass/_shop_list.scss */
.shop-items ul {
  border-top: 1px solid #D1D1D1;
  font-size: 0;
  margin: 0 -15px;
}
/* line 9, ../sass/_shop_list.scss */
.shop-items ul li {
  display: inline-block;
  background-color: #fff;
  position: relative;
  vertical-align: top;
}
@media screen and (max-width: 566px) and (min-width: 300px) {
  /* line 9, ../sass/_shop_list.scss */
  .shop-items ul li {
    width: 100%;
  }
}
/* line 18, ../sass/_shop_list.scss */
.shop-items ul li > a {
  display: block;
  position: relative;
  padding-top: 100%;
}
/* line 22, ../sass/_shop_list.scss */
.shop-items ul li > a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}
/* line 31, ../sass/_shop_list.scss */
.shop-items ul li hr {
  margin: 1rem 0;
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #D1D1D1;
  padding: 0;
}
@media screen and (max-width: 768px) and (min-width: 300px) {
  /* line 31, ../sass/_shop_list.scss */
  .shop-items ul li hr {
    margin: 1rem 0 0 0;
  }
}
/* line 42, ../sass/_shop_list.scss */
.shop-items ul li h5 {
  text-decoration: line-through;
  color: #864242;
  font-size: 1rem;
}
/* line 47, ../sass/_shop_list.scss */
.shop-items ul li p {
  padding: 0 15px;
  line-height: 120%;
}
/* line 51, ../sass/_shop_list.scss */
.shop-items ul li .buy {
  margin-top: 30px;
  display: flex;
  padding: 0 15px;
  flex-wrap: wrap;
  margin-bottom: 4rem;
}
/* line 57, ../sass/_shop_list.scss */
.shop-items ul li .buy > div {
  display: inline-block;
}
/* line 60, ../sass/_shop_list.scss */
.shop-items ul li .buy .price {
  margin-right: auto;
}
/* line 63, ../sass/_shop_list.scss */
.shop-items ul li .buy .cart {
  padding: 10px;
  border: 1px solid #D1D1D1;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50;
}
/* line 70, ../sass/_shop_list.scss */
.shop-items ul li .buy .cart img {
  width: 20px;
}
/* line 75, ../sass/_shop_list.scss */
.shop-items ul li .item-label {
  padding: 15px;
  position: absolute;
  top: 16px;
  left: 16px;
  font-size: .8rem;
  width: 80px;
  height: 80px;
  line-height: 20px;
  text-align: center;
}
/* line 87, ../sass/_shop_list.scss */
.shop-items ul li.new-arrived .item-label {
  background-color: #ACDDD7;
}
/* line 92, ../sass/_shop_list.scss */
.shop-items ul li.discount-item .item-label {
  background-color: #e9a961;
  text-align: center;
}
/* line 98, ../sass/_shop_list.scss */
.shop-items ul li.sold-out-item .item-label {
  background-color: #D1D1D1;
  text-align: center;
  color: #fff;
}

/* line 108, ../sass/_shop_list.scss */
.shop-img {
  margin: 20px 0;
}

/* line 113, ../sass/_shop_list.scss */
.sold-num h4 {
  background: #323232;
  color: #fff;
  font-size: 1rem;
  margin: 10px 0;
  padding: 5px;
  font-weight: normal;
}

/* line 125, ../sass/_shop_list.scss */
section.info {
  padding: 20px 0;
}
/* line 129, ../sass/_shop_list.scss */
section.info .container .item-info-content .content-p {
  padding: 15px 0;
}

/* line 137, ../sass/_shop_list.scss */
.itemChoose {
  border-top: 1px solid #D1D1D1;
  border-bottom: 1px solid #D1D1D1;
  padding: 20px 0;
}
/* line 141, ../sass/_shop_list.scss */
.itemChoose .items {
  font-size: 0;
}
/* line 144, ../sass/_shop_list.scss */
.itemChoose .items > div {
  display: inline-block;
  vertical-align: top;
}
@media screen and (max-width: 767px) and (min-width: 300px) {
  /* line 144, ../sass/_shop_list.scss */
  .itemChoose .items > div {
    padding-bottom: 15px;
    border-bottom: 1px solid #D1D1D1;
  }
}
/* line 151, ../sass/_shop_list.scss */
.itemChoose .items > div > h4 {
  margin-top: 36px;
}
/* line 154, ../sass/_shop_list.scss */
.itemChoose .items > div .price {
  padding: 15px 0;
}
/* line 156, ../sass/_shop_list.scss */
.itemChoose .items > div .price h5 {
  text-decoration: line-through;
  color: #864242;
  font-size: 1rem;
}

/* line 165, ../sass/_shop_list.scss */
.through-price {
  text-decoration: line-through;
  color: #864242;
  font-size: 1rem;
}

/* line 171, ../sass/_shop_list.scss */
.sold-out-num {
  background: #864242;
  color: #fff;
  padding: 5px;
}
@media screen and (max-width: 767px) and (min-width: 300px) {
  /* line 171, ../sass/_shop_list.scss */
  .sold-out-num {
    margin: 0 -15px;
  }
}

/* line 181, ../sass/_shop_list.scss */
.item .border-main {
  position: relative;
}
/* line 184, ../sass/_shop_list.scss */
.item .item-label {
  padding: 10px;
  position: absolute;
  top: 0;
  left: 0;
  font-size: .8rem;
  width: 65px;
  height: 65px;
  line-height: 20px;
}
/* line 193, ../sass/_shop_list.scss */
.item .item-label.discount {
  text-align: center;
  background-color: #e9a961;
}

/* line 200, ../sass/_shop_list.scss */
.border-bottom {
  display: none;
}
@media screen and (max-width: 767px) and (min-width: 300px) {
  /* line 200, ../sass/_shop_list.scss */
  .border-bottom {
    display: block;
    margin: 0 -15px;
    width: calc(100% + 30px);
    height: 1px;
    background-color: #D1D1D1;
  }
}

/* line 2, ../sass/_login.scss */
.login-bg {
  width: 100%;
  height: 100vh;
  background: 50% 50% url("../Content/img/login-bg.png");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* line 10, ../sass/_login.scss */
.login-bg .login-from {
  padding: 0 50px 20px;
  background: #fff;
  max-width: 450px;
  min-width: 350px;
  text-align: center;
  min-height: 550px;
}
@media screen and (max-width: 575px) and (min-width: 300px) {
  /* line 10, ../sass/_login.scss */
  .login-bg .login-from {
    width: 100%;
    height: 100%;
    padding: 0 50px;
    min-height: 100%;
  }
}
/* line 24, ../sass/_login.scss */
.login-bg .login-from .form-logo {
  max-width: 250px;
  margin: 0 auto;
  text-align: center;
  padding-top: 60px;
  background: #323232;
  padding-bottom: 1rem;
}
/* line 32, ../sass/_login.scss */
.login-bg .login-from input {
  width: 100%;
  padding: 10px;
  border: 1px solid #D1D1D1;
  margin: 10px 0;
}
/* line 38, ../sass/_login.scss */
.login-bg .login-from p {
  font-size: 0.8rem;
}

/* line 44, ../sass/_login.scss */
label.error {
  display: block;
  text-align: right;
}

/* line 49, ../sass/_login.scss */
.error {
  color: #903d40;
  font-size: 0.8rem;
}
/* line 52, ../sass/_login.scss */
.error:focus {
  outline: 2px solid #903d40;
}

/* line 4, ../sass/_member.scss */
.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #D1D1D1;
  margin: 10px 0;
}
/* line 9, ../sass/_member.scss */
.form-group input[disabled] {
  border: 0;
}

/* line 16, ../sass/_member.scss */
.member-form p {
  font-size: 0.9rem;
}
/* line 19, ../sass/_member.scss */
.member-form .o-select-6 {
  margin-right: 150px;
  width: calc(100% / 2 - (150px / 2));
}
@media screen and (max-width: 768px) and (min-width: 300px) {
  /* line 19, ../sass/_member.scss */
  .member-form .o-select-6 {
    margin-right: 0;
    width: 100%;
  }
}
/* line 26, ../sass/_member.scss */
.member-form .o-select-6:nth-child(2n) {
  margin-right: 0;
}
/* line 30, ../sass/_member.scss */
.member-form .o-select-6 .form-group .o-select-6 {
  margin-right: 15px;
  width: calc(100% / 2 - (15px / 2));
}
/* line 33, ../sass/_member.scss */
.member-form .o-select-6 .form-group .o-select-6:nth-child(2n) {
  margin-right: 0;
}

/* line 41, ../sass/_member.scss */
.info-contents {
  padding: 40px 0;
}
/* line 43, ../sass/_member.scss */
.info-contents p {
  margin-bottom: 1rem;
}
/* line 45, ../sass/_member.scss */
.info-contents p .title {
  display: inline-block;
  width: 80px;
  text-align: right;
  margin-right: 40px;
}

/* line 55, ../sass/_member.scss */
.order-form {
  display: block;
}
/* line 57, ../sass/_member.scss */
.order-form .form-title {
  display: flex;
  flex-wrap: nowrap;
  background-color: #D1D1D1;
  padding: 10px;
  width: 100%;
}
@media screen and (max-width: 768px) and (min-width: 300px) {
  /* line 63, ../sass/_member.scss */
  .order-form .form-title .title {
    width: calc(100% / 4);
    text-align: center;
  }
}
/* line 71, ../sass/_member.scss */
.order-form .form-title .title, .order-form .form-content .content {
  font-size: 1rem;
  padding: 0 5px;
  flex-basis: auto;
  flex-shrink: 1;
  flex: 1;
  word-wrap: break-word;
  white-space: nowrap;
}
/* line 80, ../sass/_member.scss */
.order-form .form-content {
  display: flex;
  flex-wrap: nowrap;
  padding: 10px 5px;
  width: 100%;
  border-bottom: 1px solid #D1D1D1;
}
@media screen and (max-width: 768px) and (min-width: 300px) {
  /* line 86, ../sass/_member.scss */
  .order-form .form-content .content {
    width: calc(100% / 4);
    text-align: center;
  }
}
/* line 92, ../sass/_member.scss */
.order-form .form-content .content .arrow {
  font-size: 1rem;
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 7.5px 0 7.5px 15px;
  border-color: transparent transparent transparent #323232;
  margin-right: 2px;
  transition: .2s;
}
/* line 103, ../sass/_member.scss */
.order-form .form-content .content .trans-arrow {
  transform: rotate(90deg);
  transition: .2s;
}
/* line 109, ../sass/_member.scss */
.order-form .content-lists {
  padding: 20px 0;
  display: flex;
  flex: wrap;
  align-items: center;
  border-bottom: 1px solid #D1D1D1;
}
/* line 115, ../sass/_member.scss */
.order-form .content-lists .content-list {
  display: inline-block;
  vertical-align: middle;
  width: 12.5%;
}
@media screen and (max-width: 768px) and (min-width: 300px) {
  /* line 115, ../sass/_member.scss */
  .order-form .content-lists .content-list {
    width: 20%;
  }
}
/* line 122, ../sass/_member.scss */
.order-form .content-lists .content-list:last-child {
  margin-left: auto;
}
/* line 125, ../sass/_member.scss */
.order-form .content-lists .content-list img {
  width: 100%;
}
/* line 130, ../sass/_member.scss */
.order-form .list-price {
  padding: 20px 0;
  text-align: right;
}
/* line 133, ../sass/_member.scss */
.order-form .list-price .price {
  display: inline-block;
  width: 12.5%;
  text-align: left;
}
@media screen and (max-width: 768px) and (min-width: 300px) {
  /* line 133, ../sass/_member.scss */
  .order-form .list-price .price {
    width: 25%;
    text-align: right;
  }
}
/* line 143, ../sass/_member.scss */
.order-form .slideUP {
  padding: 5px 15px;
  padding-left: 10px;
  border-top: 1px solid #D1D1D1;
  box-shadow: 0 3px 2px -2px rgba(51, 51, 51, 0.2);
}
/* line 148, ../sass/_member.scss */
.order-form .slideUP span {
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 7.5px 15px 7.5px;
  border-color: transparent transparent #323232 transparent;
  margin-right: 5px;
}

/* line 160, ../sass/_member.scss */
.form-content-items {
  display: none;
}

/* line 3, ../sass/_shipping.scss */
.ship-left {
  width: calc(60% - (150px / 2));
  margin-right: 150px;
  display: inline-block;
  vertical-align: top;
}
@media screen and (max-width: 768px) and (min-width: 300px) {
  /* line 3, ../sass/_shipping.scss */
  .ship-left {
    width: 100%;
    margin: 0;
  }
}

/* line 15, ../sass/_shipping.scss */
.select label {
  position: relative;
  display: inline-block;
}
/* line 18, ../sass/_shipping.scss */
.select label:after {
  pointer-events: none;
  content: '';
  display: block;
  position: absolute;
  right: 5px;
  top: 8px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 7.5px 0 7.5px;
  border-color: #cccccc transparent transparent transparent;
}
/* line 32, ../sass/_shipping.scss */
.select select {
  appearance: none;
  -webkit-appearance: none;
  padding: 5px 30px 5px 20px;
  background: #fff;
  border: 1px solid #D1D1D1;
  border-radius: 0;
  margin-bottom: 15px;
}

/* line 43, ../sass/_shipping.scss */
.ship-right {
  width: calc(40% - (150px / 2));
  display: inline-block;
  vertical-align: top;
}
@media screen and (max-width: 768px) and (min-width: 300px) {
  /* line 43, ../sass/_shipping.scss */
  .ship-right {
    width: 100%;
    margin: 0;
  }
}
/* line 51, ../sass/_shipping.scss */
.ship-right .price {
  margin-top: 40px;
  background: #F2F2F2;
}
/* line 54, ../sass/_shipping.scss */
.ship-right .price li {
  padding: 10px;
  text-align: right;
  border-bottom: 1px solid #D1D1D1;
}
/* line 58, ../sass/_shipping.scss */
.ship-right .price li span {
  display: inline-block;
  min-width: 100px;
}
/* line 62, ../sass/_shipping.scss */
.ship-right .price li:last-child {
  border: 0;
}

/* line 69, ../sass/_shipping.scss */
.shipping-list {
  font-size: 0;
  display: flex;
  border-bottom: 1px solid #D1D1D1;
  padding: 20px 0;
}
@media screen and (max-width: 768px) and (min-width: 300px) {
  /* line 69, ../sass/_shipping.scss */
  .shipping-list {
    flex-direction: column;
  }
}
/* line 77, ../sass/_shipping.scss */
.shipping-list:last-child {
  border: 0;
}
/* line 80, ../sass/_shipping.scss */
.shipping-list .o-select-6 {
  width: calc(100% / 2 - (30px / 2));
  margin-right: 30px;
}
@media screen and (max-width: 768px) and (min-width: 300px) {
  /* line 80, ../sass/_shipping.scss */
  .shipping-list .o-select-6 {
    width: 100%;
    margin: 0;
  }
}
/* line 88, ../sass/_shipping.scss */
.shipping-list > div {
  display: inline-block;
  vertical-align: top;
}
/* line 92, ../sass/_shipping.scss */
.shipping-list .shipping-img {
  width: 300px;
}
@media screen and (max-width: 768px) and (min-width: 300px) {
  /* line 92, ../sass/_shipping.scss */
  .shipping-list .shipping-img {
    width: 100%;
  }
}
/* line 98, ../sass/_shipping.scss */
.shipping-list .shipping-content {
  width: calc(100% - 300px);
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
@media screen and (max-width: 768px) and (min-width: 300px) {
  /* line 98, ../sass/_shipping.scss */
  .shipping-list .shipping-content {
    width: 100%;
  }
}
/* line 107, ../sass/_shipping.scss */
.shipping-list .shipping-content > * {
  width: 100%;
}
/* line 110, ../sass/_shipping.scss */
.shipping-list .shipping-content .delAndprice {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
}
/* line 114, ../sass/_shipping.scss */
.shipping-list .shipping-content .delAndprice > * {
  display: inline;
}
/* line 117, ../sass/_shipping.scss */
.shipping-list .shipping-content .delAndprice h5 {
  text-align: right;
}

/* line 125, ../sass/_shipping.scss */
.status ol {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
}
/* line 130, ../sass/_shipping.scss */
.status ol:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: calc(50% - .8rem);
  transform: translateY(-50%);
  width: 100%;
  height: 2px;
  background: #D1D1D1;
  z-index: 0;
}
/* line 142, ../sass/_shipping.scss */
.status ol li {
  font-size: 1rem;
  display: inline-block;
  text-align: center;
  position: relative;
  z-index: 1;
  background: #fff;
  padding: 0 5px;
}
/* line 150, ../sass/_shipping.scss */
.status ol li p {
  font-size: 0.8rem;
}
/* line 154, ../sass/_shipping.scss */
.status ol li.active .dot {
  background-color: #3c5082;
}
/* line 158, ../sass/_shipping.scss */
.status ol li .dot {
  line-height: 50px;
  text-align: center;
  width: 50px;
  height: 50px;
  color: #fff;
  background-color: #D1D1D1;
  font-size: 2rem;
  border-radius: 50%;
  position: relative;
}
/* line 179, ../sass/_shipping.scss */
.status ol li:last-child {
  margin: 0;
}
/* line 182, ../sass/_shipping.scss */
.status ol li:last-child .dot:after {
  display: none;
}

/* line 191, ../sass/_shipping.scss */
.form-group.o-select-6 {
  width: calc(100% / 2 - (15px / 2));
  margin-right: 15px;
}
@media screen and (max-width: 768px) and (min-width: 300px) {
  /* line 191, ../sass/_shipping.scss */
  .form-group.o-select-6 {
    width: 100%;
    margin: 0;
  }
}
/* line 199, ../sass/_shipping.scss */
.form-group.o-select-6 .select select,
.form-group.o-select-6 .select label {
  width: 100%;
}

/* line 206, ../sass/_shipping.scss */
input[type="checkbox"],
input[type="radio"] {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border: 1px solid #323232;
  display: inline-block;
  vertical-align: middle;
  position: relative;
}
/* line 216, ../sass/_shipping.scss */
input[type="checkbox"]:checked:before,
input[type="radio"]:checked:before {
  content: '✓';
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1rem;
  margin: auto;
}

/* line 228, ../sass/_shipping.scss */
.sucess-title {
  padding: 30px 0 15px;
  border-bottom: 1px solid #D1D1D1;
}

/* line 1, ../sass/_words.scss */
.words {
  text-align: justify;
  letter-spacing: 1px;
}
/* line 4, ../sass/_words.scss */
.words h2 {
  margin-bottom: 40px;
  font-size: 2rem;
  font-weight: 400;
}
/* line 9, ../sass/_words.scss */
.words p {
  margin-bottom: 20px;
}
/* line 12, ../sass/_words.scss */
.words .paragraph {
  margin-bottom: 80px;
}

/* line 9, ../sass/main.scss */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Helvetica Neue", Helvetica, "PingFang TC", Arial, 微軟正黑體, "Microsoft JhengHei", sans-serif;
}

/* line 17, ../sass/main.scss */
a {
  color: #323232;
  text-decoration: none;
}
/* line 20, ../sass/main.scss */
a:visited {
  color: #323232;
}

/* line 25, ../sass/main.scss */
p {
  font-size: 1rem;
  line-height: 180%;
}

/* line 30, ../sass/main.scss */
h2 {
  font-size: 1.4rem;
  line-height: 200%;
}

/* line 35, ../sass/main.scss */
h3 {
  font-size: 1.3rem;
}

/* line 39, ../sass/main.scss */
h4 {
  font-size: .9rem;
}

/* line 43, ../sass/main.scss */
h5 {
  font-size: 0.9rem;
}

/* line 47, ../sass/main.scss */
.mb-3 {
  margin-bottom: 1rem;
}

/* line 51, ../sass/main.scss */
.btn {
  padding: 15px;
  background-color: #323232;
  color: #fff;
  border: 0;
  display: block;
  width: 100%;
  font-size: 1rem;
}

/* line 61, ../sass/main.scss */
a.btn {
  color: #fff;
}

/* line 65, ../sass/main.scss */
.btn-soldout,
.btn-disable,
.btn-disable-time.btn-disable {
  background: #D1D1D1;
  pointer-events: none;
}

/* line 72, ../sass/main.scss */
.btn-disable-time {
  background: #864243;
}

/* line 76, ../sass/main.scss */
.row {
  font-size: 0;
}
/* line 78, ../sass/main.scss */
.row > div {
  display: inline-block;
  vertical-align: top;
}

/* line 84, ../sass/main.scss */
.text-center {
  text-align: center;
}

/* line 88, ../sass/main.scss */
.container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 15px;
}

/* line 94, ../sass/main.scss */
.container-mini {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 15px;
}

@media screen and (max-width: 767px) and (min-width: 0) {
  /* line 100, ../sass/main.scss */
  .container-fluid-sm {
    padding: 0;
  }
}

/* line 106, ../sass/main.scss */
.rwd-img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* line 112, ../sass/main.scss */
.coverimg {
  padding-bottom: 100%;
  position: relative;
  height: 0;
}
/* line 116, ../sass/main.scss */
.coverimg img {
  position: absolute;
  top: 0;
  left: 0;
}

/* line 123, ../sass/main.scss */
.border-main {
  border: 1px solid #B3B3B3;
  overflow: hidden;
}

/* line 128, ../sass/main.scss */
body.active {
  height: 100%;
  overflow: hidden;
}

/* line 133, ../sass/main.scss */
.d-none {
  display: none !important;
}

/* line 137, ../sass/main.scss */
.d-flex {
  display: flex !important;
  flex-wrap: wrap;
}

@media screen and (min-width: 767px) {
  /* line 142, ../sass/main.scss */
  .hidden-sm {
    display: none !important;
  }
}

@media screen and (max-width: 766px) and (min-width: 300px) {
  /* line 148, ../sass/main.scss */
  .hidden-xs {
    display: none !important;
  }
}

/* line 154, ../sass/main.scss */
.shadow-border {
  border-bottom: 1px solid #D1D1D1;
  box-shadow: 0 3px 2px -2px rgba(51, 51, 51, 0.2);
}

/* line 159, ../sass/main.scss */
header {
  border-bottom: 2px solid #D1D1D1;
  margin-bottom: 20px;
}
@media screen and (max-width: 767px) and (min-width: 300px) {
  /* line 159, ../sass/main.scss */
  header {
    margin-bottom: 0;
  }
  /* line 164, ../sass/main.scss */
  header.inner-page {
    background: #323232;
  }
}
/* line 168, ../sass/main.scss */
header .container {
  position: relative;
}
/* line 170, ../sass/main.scss */
header .container .right-top-btn {
  position: absolute;
  right: 0;
  top: 10px;
  z-index: 2;
}
/* line 175, ../sass/main.scss */
header .container .right-top-btn .nav-phone {
  display: none;
}
/* line 178, ../sass/main.scss */
header .container .right-top-btn > div {
  display: inline-block;
  margin: 0 5px;
  vertical-align: top;
}
/* line 183, ../sass/main.scss */
header .container .right-top-btn .shipping {
  position: relative;
}
/* line 185, ../sass/main.scss */
header .container .right-top-btn .shipping img {
  width: 23px;
}
/* line 188, ../sass/main.scss */
header .container .right-top-btn .shipping span {
  position: absolute;
  bottom: 5px;
  font-size: 0.7rem;
  text-align: center;
  left: 0;
  right: 0;
  margin: auto;
}
@media screen and (max-width: 767px) and (min-width: 300px) {
  /* line 188, ../sass/main.scss */
  header .container .right-top-btn .shipping span {
    color: #fff;
  }
}
/* line 201, ../sass/main.scss */
header .container .right-top-btn img {
  width: 20px;
}
/* line 204, ../sass/main.scss */
header .container .right-top-btn .member {
  position: relative;
}
/* line 206, ../sass/main.scss */
header .container .right-top-btn .member img {
  width: 23px;
}
/* line 209, ../sass/main.scss */
header .container .right-top-btn .member ul {
  display: block;
  position: absolute;
  background-color: #fff;
  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.4));
  right: 5px;
  min-width: 300px;
  transform: translateY(10px);
  z-index: 2;
}
/* line 218, ../sass/main.scss */
header .container .right-top-btn .member ul:before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 5px 10px 5px;
  border-color: transparent transparent #fff transparent;
  top: -9px;
  right: 5px;
}
/* line 229, ../sass/main.scss */
header .container .right-top-btn .member ul li {
  padding: 10px 20px;
}
/* line 231, ../sass/main.scss */
header .container .right-top-btn .member ul li.border-b {
  border-bottom: 1px solid #D1D1D1;
}
/* line 234, ../sass/main.scss */
header .container .right-top-btn .member ul li h4 {
  padding: 17px 0;
  display: inline-block;
  width: calc(100% - 50px);
}
/* line 238, ../sass/main.scss */
header .container .right-top-btn .member ul li h4 + span {
  display: inline-block;
  text-align: right;
  width: 44px;
}
/* line 242, ../sass/main.scss */
header .container .right-top-btn .member ul li h4 + span img {
  width: 30px;
  transform: translateY(25%);
  cursor: pointer;
}
/* line 254, ../sass/main.scss */
header .logo {
  text-align: center;
}
/* line 256, ../sass/main.scss */
header .logo a {
  display: inline-block;
  padding: 1rem 2rem;
  background-color: #323232;
}
@media screen and (max-width: 768px) and (min-width: 300px) {
  /* line 256, ../sass/main.scss */
  header .logo a {
    padding: 0;
    position: absolute;
    left: 0;
    right: 0;
    top: 7.5px;
    /* z-index: 10; */
    margin: 0 auto;
    width: 150px;
    z-index: 3;
  }
}
/* line 271, ../sass/main.scss */
header .logo a img {
  width: 100px;
}
/* line 276, ../sass/main.scss */
header nav {
  text-align: center;
  padding: 1rem 0;
}
/* line 279, ../sass/main.scss */
header nav ul {
  position: relative;
  display: inline-block;
}
/* line 282, ../sass/main.scss */
header nav ul li {
  display: inline-block;
  margin: 0;
  vertical-align: top;
  position: relative;
  overflow: hidden;
  padding-bottom: 10px;
}
/* line 289, ../sass/main.scss */
header nav ul li a {
  padding: 0 30px;
}
@media screen and (max-width: 767px) and (min-width: 300px) {
  /* line 276, ../sass/main.scss */
  header nav {
    display: none;
  }
}
@media screen and (max-width: 767px) and (min-width: 300px) {
  /* line 159, ../sass/main.scss */
  header {
    padding: 0;
    border: 0;
    padding: 0;
  }
  /* line 307, ../sass/main.scss */
  header .container .right-top-btn {
    padding: 10px 0;
    position: relative;
    top: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
  }
  /* line 314, ../sass/main.scss */
  header .container .right-top-btn .menu-bar {
    margin-right: auto;
    position: relative;
  }
  /* line 317, ../sass/main.scss */
  header .container .right-top-btn .menu-bar .nav-phone {
    position: fixed;
    width: 100%;
    height: 100%;
    display: block;
    background: rgba(0, 0, 0, 0.6);
    top: 0;
    left: 0;
    z-index: 100;
    padding: 20px;
  }
  /* line 327, ../sass/main.scss */
  header .container .right-top-btn .menu-bar .nav-phone h3 {
    color: #fff;
    font-size: 1rem;
    font-weight: normal;
  }
  /* line 332, ../sass/main.scss */
  header .container .right-top-btn .menu-bar .nav-phone .title {
    background: #323232;
    padding: 10px 5px;
    position: relative;
  }
  /* line 336, ../sass/main.scss */
  header .container .right-top-btn .menu-bar .nav-phone .title span {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
  }
  /* line 343, ../sass/main.scss */
  header .container .right-top-btn .menu-bar .nav-phone .itemlist {
    position: relative;
  }
  /* line 345, ../sass/main.scss */
  header .container .right-top-btn .menu-bar .nav-phone .itemlist h3 {
    padding-left: 5px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  /* line 350, ../sass/main.scss */
  header .container .right-top-btn .menu-bar .nav-phone .itemlist h3:before {
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 0 5px 10px;
    border-color: transparent transparent transparent #ffffff;
    vertical-align: middle;
    padding-right: 5px;
  }
  /* line 362, ../sass/main.scss */
  header .container .right-top-btn .menu-bar .nav-phone .itemlist img {
    width: 100%;
    display: block;
    height: calc(33vh - 25px);
    object-fit: cover;
  }
  /* line 368, ../sass/main.scss */
  header .container .right-top-btn .menu-bar .nav-phone .itemlist.black {
    color: #323232;
  }
  /* line 370, ../sass/main.scss */
  header .container .right-top-btn .menu-bar .nav-phone .itemlist.black h3 {
    color: #323232;
  }
  /* line 372, ../sass/main.scss */
  header .container .right-top-btn .menu-bar .nav-phone .itemlist.black h3:before {
    border-color: transparent transparent transparent #323232;
  }
  /* line 381, ../sass/main.scss */
  header .container .right-top-btn .shipping span {
    bottom: 7px;
  }
}
/* line 388, ../sass/main.scss */
header #magic-line {
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100px;
  height: 3px;
  background: #3c5082;
  padding: 0;
}

/* line 399, ../sass/main.scss */
section {
  margin-bottom: 30px;
}
@media screen and (max-width: 768px) and (min-width: 300px) {
  /* line 399, ../sass/main.scss */
  section {
    margin-bottom: 0;
  }
}

/* line 409, ../sass/main.scss */
#hero-img {
  margin: 20px 0;
  position: relative;
  z-index: 0;
}
@media screen and (max-width: 766px) and (min-width: 300px) {
  /* line 409, ../sass/main.scss */
  #hero-img {
    margin: 0;
    margin-top: -55px;
  }
  /* line 416, ../sass/main.scss */
  #hero-img .arrow-down {
    width: 80px;
    margin: 0 auto;
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    margin: auto;
  }
  /* line 424, ../sass/main.scss */
  #hero-img .arrow-down img {
    height: auto;
    object-fit: none;
  }
}
@media screen and (max-width: 766px) and (min-width: 300px) {
  /* line 430, ../sass/main.scss */
  #hero-img img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
  }
}

/* line 440, ../sass/main.scss */
.o-select-3 {
  width: calc(100% / 4 - 15px);
  margin-right: 15px;
}
/* line 443, ../sass/main.scss */
.o-select-3:nth-child(4n) {
  margin-right: 0;
}
@media screen and (max-width: 767px) and (min-width: 300px) {
  /* line 440, ../sass/main.scss */
  .o-select-3 {
    width: 100%;
    margin: 0;
  }
}

/* line 452, ../sass/main.scss */
.o-select-4 {
  width: calc(100% / 3 - (15px * 2 / 3));
  margin-right: 15px;
}
/* line 455, ../sass/main.scss */
.o-select-4:nth-child(3n) {
  margin-right: 0;
}
@media screen and (max-width: 767px) and (min-width: 300px) {
  /* line 452, ../sass/main.scss */
  .o-select-4 {
    width: 100%;
    margin: 0;
  }
}

/* line 464, ../sass/main.scss */
.o-select-6 {
  display: inline-block;
  font-size: 0;
  vertical-align: top;
  width: calc(100% / 2 - 15px);
  margin-right: 30px;
}
/* line 470, ../sass/main.scss */
.o-select-6:nth-child(2n) {
  margin: 0;
}
@media screen and (max-width: 767px) and (min-width: 300px) {
  /* line 464, ../sass/main.scss */
  .o-select-6 {
    width: 100%;
    margin: 0;
  }
}

/* line 479, ../sass/main.scss */
.input-number {
  width: 40px;
  vertical-align: top;
  text-align: center;
  outline: none;
  pointer-events: none;
}

/* line 488, ../sass/main.scss */
.input-number,
.input-number-decrement,
.input-number-increment {
  border: 1px solid #ccc;
  height: 40px;
  user-select: none;
  font-size: 1rem;
}

/* line 497, ../sass/main.scss */
.input-number-decrement,
.input-number-increment {
  display: inline-block;
  width: 40px;
  line-height: 36px;
  background: #fff;
  color: #D1D1D1;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
}
/* line 507, ../sass/main.scss */
.input-number-decrement:active,
.input-number-increment:active {
  background: #f1f1f1;
}

/* line 512, ../sass/main.scss */
.input-number-decrement {
  border-right: none;
  border-radius: 4px 0 0 4px;
  font-size: 1rem;
}

/* line 518, ../sass/main.scss */
.input-number-increment {
  border-left: none;
  border-radius: 0 4px 4px 0;
  font-size: 1rem;
}
