 @import '_color.scss';
 @import '_mixin.scss';
 .form-group {
     input {
         width: 100%;
         padding: 10px;
         border: 1px solid $border-color;
         margin: 10px 0;
         &[disabled] {
             border: 0;
         }
         &.error {
             border: 1px solid #864243;
         }
     }
 }
 
 .member-form {
     h2 {
         //  margin: 60px 0;
         text-align: center;
         @include range-width(300px, 769px) {
             margin: 20px 0;
             text-align: left;
         }
     }
     hr {
         @include range-width(300px, 769px) {
             width: calc(100% + 46px *2);
             transform: translateX(-46px);
         }
     }
     p {
         font-size: 0.9rem;
     }
     .o-select-6 {
         margin-right: 150px;
         width: calc(100% / 2 - (150px / 2));
         @include range-width(300px, 769px) {
             margin-right: 0;
             width: 100%;
         }
         &:nth-child(2n) {
             margin-right: 0;
         }
         .form-group {
             .o-select-6 {
                 margin-right: 15px;
                 width: calc(100% / 2 - (15px / 2));
                 &:nth-child(2n) {
                     margin-right: 0;
                 }
             }
         }
     }
 }
 
 .info-contents {
     padding: 40px 0;
     @include range-width(300px, 769px) {
         padding: 26px 0;
     }
     p {
         margin-bottom: 1rem;
         vertical-align: middle;
         .title {
             display: inline-block;
             width: 80px;
             text-align: right;
             margin-right: 40px;
             vertical-align: top;
         }
         .content {
             display: inline-block;
             width: calc(100% - 120px);
             text-align: left;
         }
     }
 }
 
 // 訂單查詢
 .order-form {
     display: block;
     .form-title {
         display: flex;
         flex-wrap: nowrap;
         background-color: $border-color;
         padding: 10px;
         width: 100%;
         box-shadow: inset 0 3px 2px -2px rgba(51, 51, 51, .2);
         .title {
             @extend %form;
             @include range-width(300px, 769px) {
                 width: calc(100% / 4);
                 text-align: center;
             }
         }
     }
     %form {
         font-size: 1rem;
         padding: 0 5px;
         flex-basis: auto;
         flex-shrink: 1;
         flex: 1;
         word-wrap: break-word;
         white-space: nowrap;
     }
     .form-content {
         display: flex;
         flex-wrap: nowrap;
         padding: 10px 5px;
         width: 100%;
         border-bottom: 1px solid $border-color;
         box-shadow: 0 3px 2px -2px rgba(51, 51, 51, .2);
         .content {
             @extend %form;
             @include range-width(300px, 769px) {
                 width: calc(100% / 4);
                 text-align: center;
             }
             .arrow {
                 font-size: 1rem;
                 display: inline-block;
                 width: 0;
                 height: 0;
                 border-style: solid;
                 border-width: 7.5px 0 7.5px 15px;
                 border-color: transparent transparent transparent #323232;
                 margin-right: 5px;
                 transition: .2s;
                 margin-left: -5px;
             }
             .trans-arrow {
                 transform: rotate(90deg);
                 transition: .2s;
             }
         }
     }
     .content-lists {
         padding: 20px 0;
         display: flex;
         flex: wrap;
         align-items: center;
         border-bottom: 1px solid $border-color;
         .content-list {
             display: inline-block;
             vertical-align: middle;
             width: 12.5%;
             @include range-width(300px, 769px) {
                 width: 20%;
                 padding: 0 5px;
             }
             &:last-child {
                 margin-left: auto;
             }
             img {
                 width: 100%;
             }
         }
         &.hidden-sm {
             box-shadow: 0 3px 2px -2px rgba(51, 51, 51, .2);
             .content-list {
                 @include range-width(300px, 769px) {
                     width: 33%;
                     text-align: center;
                 }
                 &:last-child {
                     margin-left: 0;
                 }
             }
         }
     }
     .list-price {
         padding: 20px 0;
         text-align: right;
         box-shadow: inset 0 3px 2px -2px rgba(51, 51, 51, .2);
         .price {
             display: inline-block;
             width: 12.5%;
             text-align: left;
             @include range-width(300px, 769px) {
                 width: 25%;
                 text-align: right;
                 padding: 0 20px;
             }
         }
     }
     .slideUP {
         padding: 5px 15px;
         padding-left: 10px;
         border-top: 1px solid $border-color;
         border-bottom: 1px solid $border-color;
         box-shadow: 0 3px 2px -2px rgba(51, 51, 51, .2);
         span {
             display: inline-block;
             width: 0;
             height: 0;
             border-style: solid;
             border-width: 0 7.5px 15px 7.5px;
             border-color: transparent transparent #323232 transparent;
             margin-right: 5px;
         }
     }
 }
 
 .form-content-items {
     display: none;
 }
 
 .member-form-edit {
     @include range-width(769px, 0) {
         h2 {
             margin: 60px 0px;
         }
     }
     @include range-width(300px, 768px) {
         h2 {
             margin-bottom: 20px;
         }
         hr {
             transform: translateX(-46px);
             width: calc(100% + 46px * 2);
         }
         #member-form {
             padding-top: 30px;
         }
     }
 }