 @import '_color.scss';
 @import '_mixin.scss';
 .form-group {
     input {
         width: 100%;
         padding: 10px;
         border: 1px solid $border-color;
         margin: 10px 0;
         &[disabled] {
             border: 0;
         }
     }
 }
 
 .member-form {
     p {
         font-size: 0.9rem;
     }
     .o-select-6 {
         margin-right: 150px;
         width: calc(100% / 2 - (150px / 2));
         @include range-width(300px, 769px) {
             margin-right: 0;
             width: 100%;
         }
         &:nth-child(2n) {
             margin-right: 0;
         }
         .form-group {
             .o-select-6 {
                 margin-right: 15px;
                 width: calc(100% / 2 - (15px / 2));
                 &:nth-child(2n) {
                     margin-right: 0;
                 }
             }
         }
     }
 }
 
 .info-contents {
     padding: 40px 0;
     p {
         margin-bottom: 1rem;
         .title {
             display: inline-block;
             width: 80px;
             text-align: right;
             margin-right: 40px;
         }
     }
 }
 
 // 訂單查詢
 .order-form {
     display: block;
     .form-title {
         display: flex;
         flex-wrap: nowrap;
         background-color: $border-color;
         padding: 10px;
         width: 100%;
         .title {
             @extend %form;
             @include range-width(300px, 769px) {
                 width: calc(100% / 4);
                 text-align: center;
             }
         }
     }
     %form {
         font-size: 1rem;
         padding: 0 5px;
         flex-basis: auto;
         flex-shrink: 1;
         flex: 1;
         word-wrap: break-word;
         white-space: nowrap;
     }
     .form-content {
         display: flex;
         flex-wrap: nowrap;
         padding: 10px;
         width: 100%;
         border-bottom: 1px solid $border-color;
         .content {
             @extend %form;
             @include range-width(300px, 769px) {
                 width: calc(100% / 4);
                 text-align: center;
             }
         }
     }
     .content-lists {
         padding: 20px 0;
         display: flex;
         flex: wrap;
         align-items: center;
         border-bottom: 1px solid $border-color;
         .content-list {
             display: inline-block;
             vertical-align: middle;
             width: 12.5%;
             @include range-width(300px, 769px) {
                 width: 20%;
             }
             &:last-child {
                 margin-left: auto;
             }
             img {
                 width: 100%;
             }
         }
     }
     .list-price {
         padding: 20px 0;
         text-align: right;
         .price {
             display: inline-block;
             width: 12.5%;
             text-align: left;
             @include range-width(300px, 769px) {
                 width: 25%;
                 text-align: right;
             }
         }
     }
 }