@import '_color.scss';
@import '_mixin.scss';
.container.container-form {
    @include range-width(300px, 769px) {
        padding: 0 46px;
    }
}

.ship-left {
    width: calc(60% - (150px / 2));
    margin-right: 150px;
    display: inline-block;
    vertical-align: top;
    @include range-width(300px, 769px) {
        width: 100%;
        margin: 0;
        h2 {
            padding: 0;
        }
        hr {
            width: calc(100% + 46px * 2);
            transform: translate(-46px);
        }
    }
}

.select {
    label {
        position: relative;
        display: inline-block;
        width: 100%;
        &:after {
            pointer-events: none;
            content: '';
            display: block;
            position: absolute;
            right: 5px;
            top: 25px;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 10px 7.5px 0 7.5px;
            border-color: #cccccc transparent transparent transparent;
        }
    }
    select {
        appearance: none;
        -webkit-appearance: none;
        padding: 10px 30px 10px 20px;
        background: #fff;
        border: 1px solid $border-color;
        border-radius: 0;
        margin-bottom: 5px;
        margin-top: 10px;
        width: 100%;
        min-height: 39px;
    }
}

.ship-right {
    width: calc(40% - (150px / 2));
    display: inline-block;
    vertical-align: top;
    @include range-width(300px, 769px) {
        width: 100%;
        margin: 0;
    }
    .price {
        margin-top: 40px;
        background: #F2F2F2;
        li {
            padding: 10px;
            text-align: right;
            border-bottom: 1px solid $border-color;
            span {
                display: inline-block;
                min-width: 40px;
                text-align: justify;
                &:nth-child(2) {
                    min-width: 80px;
                    text-align: right;
                }
            }
            &:last-child {
                border: 0;
            }
        }
    }
}

.shipping-list {
    font-size: 0;
    display: flex;
    border-bottom: 1px solid $border-color;
    padding: 20px 0;
    @include range-width(300px, 769px) {
        flex-direction: column;
    }
    &:last-child {
        border: 0;
    }
    .o-select-6 {
        width: calc(100% / 2 - (30px / 2));
        margin-right: 30px;
        @include range-width(300px, 769px) {
            width: 100%;
            margin: 0;
        }
    }
    &>div {
        display: inline-block;
        vertical-align: top;
    }
    .shipping-img {
        width: 300px;
        @include range-width(300px, 769px) {
            width: 100%;
        }
    }
    .shipping-content {
        width: calc(100% - 300px);
        padding: 20px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        @include range-width(300px, 769px) {
            width: 100%;
        }
        &>* {
            width: 100%;
        }
        .delAndprice {
            display: flex;
            justify-content: space-between;
            margin-top: auto;
            &>* {
                display: inline;
            }
            h5 {
                text-align: right;
            }
        }
    }
}

.status {
    ol {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        position: relative;
        &:after {
            content: '';
            display: block;
            position: absolute;
            left: 0;
            top: calc(50% - .8rem - 6pt);
            transform: translateY(-50%);
            width: 100%;
            height: 2px;
            background: $border-color;
            z-index: 0;
        }
        li {
            font-size: 1rem;
            display: inline-block;
            text-align: center;
            position: relative;
            z-index: 1;
            background: #fff;
            padding: 0 5px;
            p {
                font-size: 0.8rem;
                margin-top: 12pt;
                font-weight: bold;
            }
            &.active {
                .dot {
                    background-color: #3c5082;
                }
            }
            .dot {
                line-height: 50px;
                text-align: center;
                width: 50px;
                height: 50px;
                color: #fff;
                background-color: $border-color;
                font-size: 20px;
                border-radius: 50%;
                position: relative;
                font-weight: bold;
                // &:after {
                //     content: '';
                //     display: block;
                //     position: absolute;
                //     right: calc(-50% - 5px);
                //     top: 50%;
                //     width: 50%;
                //     height: 2px;
                //     background: $border-color;
                // }
            }
            &:last-child {
                margin: 0;
                .dot {
                    &:after {
                        display: none;
                    }
                }
            }
        }
    }
}

.form-group.o-select-6 {
    width: calc(100% / 2 - (15px / 2));
    margin-right: 15px;
    @include range-width(300px, 769px) {
        width: 100%;
        margin: 0;
    }
    .select {
        select,
        label {
            width: 100%;
        }
    }
    input[type="radio"] {
        width: auto;
        vertical-align: middle;
        margin: 15px 0;
        margin-right: 5px;
    }
    label {
        font-size: .9rem;
    }
}

input[type="checkbox"],
input[type="radio"] {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    border: 1px solid $main-color;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    &:checked {
        &:before {
            content: '✓';
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            font-size: 1rem;
            margin: auto;
        }
    }
}

.sucess-title {
    padding: 30px 0 0;
}