.words {
    text-align: justify;
    letter-spacing: 1px;
    h2 {
        margin-bottom: 40px;
        font-size: 2rem;
        font-weight: 400;
    }
    p {
        margin-bottom: 20px;
    }
    .paragraph {
        margin-bottom: 80px;
        &>h3 {
            margin-bottom: 40px;
        }
    }
}

// faq
.slide-block {
    h3 {
        margin-bottom: 30px;
    }
    .slide-title {
        padding: 20px 0;
        border-top: 1px solid #CFCFCF;
        border-bottom: 1px solid #CFCFCF;
        position: relative;
        p {
            padding: 0 15px;
            margin-bottom: 0;
        }
        &:before {
            content: '＋';
            position: absolute;
            top: 12px;
            right: 20px;
            font-size: 30px;
            color: #505050;
        }
        &.slide-active {
            &:before {
                content: '－';
                position: absolute;
                top: 12px;
                right: 20px;
                font-size: 30px;
                color: #505050;
            }
        }
    }
    .slide-content {
        p {
            padding: 15px;
        }
    }
}

.join {
    background: 50% 0 url('../Content/img/join_bg.png') no-repeat;
    background-color: #E6E6E6;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 60px 0;
    @include range-width(769px) {
        margin-top: -20px;
    }
    .join-content {
        background-color: #fff;
        padding: 40px 20px;
        text-align: center;
        h2 {
            font-size: 2rem;
            font-weight: 400;
            margin-bottom: 30px;
        }
        .content-block {
            margin: 30px 0 60px;
            span {
                color: #CECECE;
                font-size: 0.8rem;
            }
        }
        .btn {
            max-width: 400px;
            margin: 0 auto;
        }
    }
}