.words {
    text-align: justify;
    letter-spacing: 1px;
    h2 {
        margin-bottom: 40px;
        font-size: 2rem;
        font-weight: 400;
    }
    p {
        margin-bottom: 20px;
    }
    .paragraph {
        margin: 100px 0;
        &>h3 {
            margin-bottom: 40px;
        }
        h4 {
            margin-bottom: 40px;
            font-size: 1rem;
        }
    }
}

// faq
.slide-block {
    h3 {
        margin-bottom: 30px;
    }
    .slide-title {
        padding: 20px 0;
        border-top: 1px solid #CFCFCF;
        border-bottom: 1px solid #CFCFCF;
        position: relative;
        p {
            padding: 0 15px;
            margin-bottom: 0;
        }
        &:before {
            content: '＋';
            position: absolute;
            top: 12px;
            right: 20px;
            font-size: 30px;
            color: #505050;
        }
        &.slide-active {
            &:before {
                content: '－';
                position: absolute;
                top: 12px;
                right: 20px;
                font-size: 30px;
                color: #505050;
            }
        }
    }
    .slide-content {
        p {
            padding: 15px;
        }
    }
}

.join {
    .join-content {
        text-align: center;
        @include range-width(300px, 768px) {
            padding: 0px 31px;
            text-align: left;
        }
        .content-block {
            margin: 100px 0;
            @include range-width(300px, 768px) {
                margin: 46px 0;
            }
            span {
                color: #CECECE;
                font-size: 0.8rem;
            }
            h2 {
                margin-bottom: 40px;
            }
            .btn {
                max-width: 400px;
                margin: 0 auto;
                text-align: center;
            }
        }
    }
}

.banner-img {
    position: relative;
    height: calc(100vh - 127px);
    .arrow-down {
        width: 80px;
        margin: 0 auto;
        position: absolute;
        bottom: 20px;
        left: 0;
        right: 0;
        margin: auto;
    }
    @include range-width(769px) {
        margin-top: -20px;
    }
    @include range-width(300px, 768px) {
        height: calc(100vh - 60px);
    }
    h2 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0);
        font-size: 3rem;
        @include range-width(300px, 768px) {
            font-size: 2rem;
        }
    }
    img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}