.words {
    text-align: justify;
    letter-spacing: 1px;
    h2 {
        margin-bottom: 40px;
        font-size: 2rem;
        font-weight: 400;
        @include range-width(300px, 768px) {
            margin-bottom: 16px;
        }
    }
    p {
        margin-bottom: 20px;
    }
    .paragraph {
        margin: 100px 0;
        @include range-width(300px, 768px) {
            margin: 46px 0;
            padding: 0 31px;
        }
        &>h3 {
            margin-bottom: 40px;
        }
        h4 {
            margin-bottom: 40px;
            font-size: 1rem;
        }
    }
    &.faq {
        .paragraph {
            margin: 54px 0;
            h3 {
                margin-bottom: 54px;
            }
            .slide-block:last-child {
                .slide-title.slide-active {
                    box-shadow: inset 0 3px 2px -2px rgba(51, 51, 51, 0.2), 0 3px 2px -2px rgba(51, 51, 51, 0.2);
                }
            }
        }
    }
}

// faq
.slide-block {
    h3 {
        margin-bottom: 30px;
    }
    .slide-title {
        padding: 25px 0;
        border-top: 1px solid #CFCFCF;
        border-bottom: 1px solid #CFCFCF;
        position: relative;
        box-shadow: inset 0 3px 2px -2px rgba(51, 51, 51, 0.2);
        p {
            padding: 0 15px;
            margin-bottom: 0;
            width: calc(100% - 40px);
        }
        &:before {
            content: '－';
            position: absolute;
            top: 17px;
            right: 20px;
            font-size: 30px;
            color: #505050;
        }
        &.slide-active {
            &:before {
                content: '＋';
                position: absolute;
                top: 17px;
                right: 20px;
                font-size: 30px;
                color: #505050;
            }
        }
    }
    .slide-content {
        display: none;
        p {
            padding: 15px;
        }
    }
}

.join {
    .join-content {
        text-align: center;
        @include range-width(300px, 768px) {
            padding: 0px 31px;
        }
        .content-block {
            margin: 100px 0;
            @include range-width(300px, 768px) {
                margin: 46px 0;
                p {
                    text-align: justify;
                }
            }
            span {
                color: #CECECE;
                font-size: 0.8rem;
            }
            h2 {
                margin-bottom: 40px;
            }
            b {
                margin-right: 5px;
            }
            .btn {
                max-width: 400px;
                margin: 0 auto;
                text-align: center;
            }
        }
    }
}

.banner-img {
    position: relative;
    height: calc(100vh - 127px);
    .arrow-down {
        width: 80px;
        margin: 0 auto;
        position: absolute;
        bottom: 20px;
        left: 0;
        right: 0;
        margin: auto;
    }
    @include range-width(769px) {
        margin-top: -20px;
    }
    @include range-width(300px, 768px) {
        height: calc(100vh - 50px);
    }
    h2 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0);
        font-size: 3rem;
        @include range-width(300px, 768px) {
            font-size: 2rem;
        }
    }
    img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}